{% extends "layout.html" %} 
{% block style %}
    <style>
        #item_image{
            height: auto;
            width: 100%;
            box-shadow: 5px 5px 5px 5px gray;
            border-radius: 10px;
            margin-bottom: 1em;
        }
        #item_category{
            margin-top: -10px;
            position: absolute;
        }
        #left_grid{
            width: 50%;
        }
        #right_grid{
            width: 50%;
        }
        #item_description{
            margin: 2em;
            font-family: Arial;
            font-size: 20px;
        }
        #comments_div{
            margin-top: 5em;
        }
        #grid{
            display: grid;
            grid-template-columns: 100% 10%;
        }
        #send_icon{
            color: white;
            font-size: 3em;
        }
        #submit_comment{
            height: auto;
            margin-top: 13%;
            margin-left: -100%;
            width: 100%;
            background-color: rgb(0, 119, 255);
            border-radius: 0 1em 1em 0;
            border-color: white;
        }
        #comment{
            padding-right:12%;    
            border-radius: 1em;
        }
    </style>
{% endblock %}
{% block body %}
    <div id="grid" class="d-flex flex-wrap">
        <div id="left_grid" class="p-2">
            <img id="item_image" class="animate__animated animate__fadeIn" src="{{info.image_url}}">
            <h1 id="item_price">${{info.price}}</h1>
            <h2 id="item_title">{{info.title}}</h2>
            <small id="item_category">{{info.category.Item_Category}}</small>
        </div>
        <div id="right_grid" class="p-2">
            <pre id="item_description">{{info.description}}</pre>
        </div>
    </div>
    <div id="comments_div">
        {% if user.is_authenticated %}
            <h2>Comments</h2>
            <hr>
            <div id="add_comment_section">
                <form id="add_comment_form" action="{% url 'add_comment' %}" method="POST">  
                    {% csrf_token %}
                    <input type="hidden" id="user" value="{{user.username}}">
                    <input type="hidden" id="item_id" value="{{info.id}}">
                    <div id="grid">
                        <textarea class="form-control" name="" id="comment" rows="4" placeholder="Add comment here ..."></textarea>
                        <button id="submit_comment" type="button">
                            <i class="material-icons" id="send_icon">&#xe163;</i>
                        </button>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
    <script>
        $("#submit_comment").click(()=>{
            let comment = $("#comment").val();
            let username = $("#user").val()
            let item_id = $("#item_id").val();
            console.log(comment);
            if(comment !== ""){
                let csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                // const request = fetch("{% url 'add_comment' %}", {method: 'POST', headers: {'X-CSRFToken': csrftoken}, body:{comment:comment}});
                $.ajaxSetup({
                    headers:{ 'X-CSRFTOKEN': csrftoken}
                });
                let request = $.ajax({
                    url: "{% url 'add_comment' %}", 
                    type: "POST",
                    data:{
                        "comment": comment,
                        "username": username,
                        "item_id":item_id
                    },
                    datatype: 'json'
                });
                
                return false;
            }
        });
    </script>
{% endblock %}