{% for j in items %}
    {% for i in j %}
        <div class="p-2 item_card" id="{{i.id}}">
            <img src="{{i.image_url}}" id="{{i.id}}">
            <h3 id="{{i.id}}">{{i.title}}</h3>
            <p id="{{i.id}}"><small id="{{i.id}}">$</small><span id="{{i.id}}" class="price">{{i.price}}</span></p>
        </div>
        <script>
            $(document).ready(()=>{
                    $(".item_card").click(e=>{
                        let ele = $(e.target);
                        let id = (ele.attr('id')); 
                        window.location.href = "/edit/"+id;  
                    })
                });
        </script>
    {% endfor %}
{% endfor %}