{% extends "layout.html" %} {% block style %}
<style>
</style>
{% endblock %}{% block body %}

<h1>NEW ITEM</h1>
<form action="{% url 'new_item' %}" method="post" id="post_new_item">
  {% csrf_token %}
  {% if edit == "edit" %}
    <input type="hidden" name="item_id" id="item_id">
    <input type="hidden" name="update" value="update">
  {% endif %}
  <input
    type="text"
    name="item_title"
    placeholder="Item Title"
    class="form-control"
    id="item_title"
  />
  <textarea
    name="item_description"
    placeholder="Description"
    cols="30"
    rows="5"
    class="form-control"
    id="item_description"
  ></textarea>
  <input
    type="text"
    name="item_price"
    placeholder="Price"
    class="form-control"
    id="item_price"
  />
  <input
    type="text"
    name="item_image_url"
    placeholder="Image URL"
    class="form-control"
    id="item_image_url"
  />
  <input
    type="number"
    name="quantity"
    placeholder="qunatity"
    class="form-control"
    id="quantity"
  />
  <select
    class="form-select"
    aria-label="Default select example"
    name="item_category"
    id="item_category"
  >
    {% for i in categories_name %} {% ifequal i "Fashion" %}
    <option value="{{i}}" selected>{{i}}</option>
    {% else %}
    <option value="{{i}}">{{i}}</option>
    {% endifequal %} {% endfor %}
  </select>

  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
<div id="message" class="alert animate__animated"></div>
<script>
  let edit = "{{edit}}";
  if(edit){
    $("#item_id").val(`{{info.id}}`);
    $("#item_title").val(`{{info.title}}`);
    $("#item_description").val(`{{info.description}}`);
    $("#item_price").val(`{{info.price}}`);
    $("#item_image_url").val(`{{info.image_url}}`);
    $("#quantity").val(`{{info.quantity}}`);
    $("#item_category").val(`{{info.category.Item_Category}}`);
  }


  $("#post_new_item").submit(() => {
    title = $("#item_title").val();
    description = $("#item_description").val();
    price = $("#item_price").val();
    url = $("#item_image_url").val();
    quantity = $("#quantity").val();
    category = $("#item_category").val();
    if (
      title !== "" &&
      description !== "" &&
      price !== "" &&
      quantity !== "" &&
      category !== "" && 
      !isNaN(price)
    ) {
      return true
    } else {
      displayMessage("danger", "Please enter all the value correctly.");
    }
    return false;
  });
  function displayMessage(category, msg) {
    message = $("#message");
    try{message.removeClass("animate__fadeOutDown");}catch(e){}
    if (category == "danger") {
      message.addClass("alert-danger");
    } else if (category == "success") {
      message.addClass("alert-success");
    }
    message.addClass("animate__fadeInUp");
    message.html(msg);
    setTimeout(() => {
      message.removeClass("animate__fadeInUp");
      if (category == "danger") {
        message.removeClass("alert-danger");
      } else if (category == "success") {
        message.removeClass("alert-success");
      }
      message.addClass("animate__fadeOutDown");
    }, 3000);
  }
</script>
{% endblock %}
